/andris2583/week4/model_weights
/andris2583/week4/saved_model
/andris2583/week4/results
/train.parquet
/validation.parquet
/andris2583/week5/1/fi/mt5_model
/andris2583/week5/1/ja/mt5_model
/andris2583/week5/1/ru/mt5_model
/andris2583/week5/2/mt5_model
/andris2583/week5/3/mt5_model
/andris2583/week4/ja/model_weights
/andris2583/week4/ru/model_weights
/andris2583/week4/ru/__pycache__
/andris2583/week4/fi/__pycache__
/andris2583/week4/fi/model_weights
/andris2583/week4/ru1/model_weights
/andris2583/week4/ru1/__pycache__
/andris2583/week4/ja1/model_weights
/andris2583/week4/fi1/__pycache__
/andris2583/week4/fi1/model_weights
/andris2583/week4/2/model_weights
/andris2583/week4/2/__pycache__
/andris2583/week4/fi3/__pycache__
/andris2583/week4/fi3/model_weights
/andris2583/week4/ja1/__pycache__
/andris2583/week4/ja3/__pycache__
/andris2583/week4/ja3/model_weights
/andris2583/week4/ru3/__pycache__
/andris2583/week4/ru3/model_weights
/andris2583/week5/1/ru/bart_model
/andris2583/week5/1/fi/bart_model
/andris2583/week5/2/ru/bart_model
/andris2583/week5/2/fi/bart_model
/andris2583/week5/1/ja/bart_model
/andris2583/week6/bart_model